<div class="center hero-unit">
<div class="jumbotron">
<h1>Home Page</h1>
<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
<%= link_to "Get started today!", signup_path, class: "btn btn-large btn-success" %>
</div>
</div>
<hr>

