@import "bootstrap";

/* universal */

html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#logo {
    margin-right: 10px;
    font-size: 1.5em;
    color: green;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 1;
    &:hover {
        color: black;
        text-decoration: none;
    }
}

#push,
#footer {
    height: 80px;
}

#pushfooter {
    height: 20px;
}

.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}

#footer {
    background-color: #f5f5f5;
    a {
        color: $green;
        &:hover {
            color: darkgreen;
        }
    }
    small {
        float: left;
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 10px;
        }
    }
}

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.container .credit {
        margin: 20px 0;
      }
