
    <div id="footer">
        <div class="container">
            <div id="pushfooter"></div>
    <small>
        A footer customed by @Gizem, 2013
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><a href="http://news.railstutorial.org">News</a></li>
        </ul>
    </nav>
</div>
    </div>
