<div class="container">
      <div class="masthead">
        <h3 class="muted"><%= link_to "sample app", root_path, id: "logo" %></h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Help", help_path %></li>
                <li><%= link_to "Sign in", '#' %></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>
