<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>

<div id="wrap">
    <%= render 'layouts/head' %>
    <%= yield %>
    </div>
    <div id="push"></div>
</div>

<%= render 'layouts/foot' %>

</body>
</html>
